
.icon-fclogos:before { content: '\e800'; } /* '' */
.icon-paper-plane:before { content: '\e801'; } /* '' */
.icon-flight:before { content: '\e802'; } /* '' */
.icon-soundcloud:before { content: '\e803'; } /* '' */
.icon-crown:before { content: '\e804'; } /* '' */
.icon-star-half-alt:before { content: '\e805'; } /* '' */