
.icon-p:before { content: '\e800'; } /* '' */
.icon-f:before { content: '\e801'; } /* '' */
.icon-e:before { content: '\e802'; } /* '' */
.icon-l:before { content: '\e803'; } /* '' */
.icon-i:before { content: '\e804'; } /* '' */